@charset "UTF-8";
/*フォントサイズ指定*/
h1 {
  font-size: 70px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*フォントファミリー指定*/
h1,
h2,
h3,
h4,
p,
li,
a {
  font-family: "Georgia", "Lato", "Arial", YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
  letter-spacing: 2px;
}

.fadeInDown {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 5;
}

#loader-bg #loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 100px;
  width: 100%;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 4;
}

#loader-bg #loader .loader-text {
  color: #fff;
  letter-spacing: 10px;
}

header {
  width: 100%;
  height: 70px;
  background-color: #111;
  opacity: 0.9;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 3;
}

header .header-name {
  padding: 20px;
  margin-left: 50px;
}

.header-lists {
  margin-left: 20px;
  position: relative;
}

.header-lists .header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  position: absolute;
  right: -1100px;
}

.header-lists .page-link {
  color: #fff;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.header-lists .page-link:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #FF773E;
}

.header-lists .page-link .page-list {
  padding: 25px;
}

main .top {
  width: 100%;
  height: 100vh;
  background-image: url(img/top-img3.jpg);
  background-size: cover;
}

main .top .top-title {
  text-align: center;
  padding-top: 300px;
  color: #000;
  display: none;
}

.about {
  padding-top: 70px;
  margin-bottom: 100px;
  width: 100%;
  height: auto;
}

.about .wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.about .wrapper .about-title {
  text-align: center;
}

.about .wrapper .about-box {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: space-around;
  margin-top: 100px;
}

.about .wrapper .about-box .box-left {
  width: 40%;
}

.about .wrapper .about-box .box-left .about-img {
  width: 100%;
}

.about .wrapper .about-box .box-right {
  width: 40%;
  margin: 0 auto;
  text-align: left;
}

.about .wrapper .about-box .box-right .profile-box {
  margin-bottom: 30px;
}

.about .wrapper .about-box .box-right .profile-box .profile-title {
  border-bottom: 2px solid #91C6D7;
  margin-bottom: 30px;
}

.about .wrapper .about-box .box-right .profile-box .profile-text {
  margin-bottom: 10px;
}

.about .wrapper .about-box .box-right .skill-box {
  padding-top: 30px;
}

.about .wrapper .about-box .box-right .skill-box .skill-title {
  border-bottom: 2px solid #91C6D7;
}

.about .wrapper .about-box .box-right .skill-box .skill-img-boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.about .wrapper .about-box .box-right .skill-box .skill-img-boxs .skill-img-box .skill-img {
  width: 100%;
  margin-right: 5px;
  margin-left: -20px;
}

.about .wrapper .about-box .box-right .skill-box .skill-img-boxs .skill-img-box .skill-imgs {
  width: 100%;
}

.product {
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 70px;
  background-color: #F8F9FA;
}

.product .wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.product .wrapper .product-title-box .product-title {
  margin-bottom: 50px;
}

.product .wrapper .product-content-boxs {
  padding-top: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product .wrapper .product-content-boxs .box-content {
  width: 40%;
  margin-bottom: 50px;
}

.product .wrapper .product-content-boxs .box-content .img-box-content {
  margin: 0 auto;
  width: 70%;
}

.product .wrapper .product-content-boxs .box-content .img-box-content #product-img-1, .product .wrapper .product-content-boxs .box-content .img-box-content #product-img-2, .product .wrapper .product-content-boxs .box-content .img-box-content #product-img-3, .product .wrapper .product-content-boxs .box-content .img-box-content #product-img-4 {
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.product .wrapper .product-content-boxs .box-content .img-box-content #product-img-1:hover, .product .wrapper .product-content-boxs .box-content .img-box-content #product-img-2:hover, .product .wrapper .product-content-boxs .box-content .img-box-content #product-img-3:hover, .product .wrapper .product-content-boxs .box-content .img-box-content #product-img-4:hover {
  opacity: 0.5;
}

.product .wrapper .product-content-boxs .box-content .title-box-content {
  margin-top: 20px;
}

#pop-box-1 {
  display: none;
}

#pop-box-1 .pop-img1 #imgs {
  width: 30%;
}

.services {
  width: 100%;
  height: auto;
  padding-top: 70px;
}

.services .wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.services .wrapper .services-title-box {
  text-align: center;
}

.services .wrapper .services-title-box .services-title {
  margin-bottom: 50px;
}

.services .wrapper .services-title-box .services-text {
  margin-bottom: 100px;
}

.services .wrapper .services-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-bottom: 100px;
}

.services .wrapper .services-box .services-boxs {
  width: 30%;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  border-top: solid 5px #5d627b;
  -webkit-box-shadow: 0px 3px 5px grey;
          box-shadow: 0px 3px 5px grey;
}

.services .wrapper .services-box .services-boxs .services-box-text {
  margin: 0 auto;
  width: 80%;
}

.contact {
  width: 100%;
  height: auto;
  background-color: #F8F9FA;
  padding-top: 70px;
}

.contact .wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.contact .wrapper .contact-title-box {
  text-align: center;
}

.contact .wrapper .contact-title-box .contact-title {
  margin-bottom: 50px;
}

.contact .wrapper .contact-title-box .contact-text {
  margin-bottom: 50px;
}

.contact .wrapper .contact-form {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.contact .wrapper .contact-form .forms {
  padding-bottom: 50px;
}

.contact .wrapper .contact-form .forms .input-field {
  width: 600px;
  margin-bottom: 10px;
}

.contact .wrapper .contact-form .forms .send-btn {
  margin-top: 30px;
}

.contact .wrapper .contact-form .forms .send-btn .btn {
  width: 150px;
  height: 40px;
  background-color: #91C6D7;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 15px;
  border: 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 3px solid black;
  cursor: pointer;
}

.contact .wrapper .contact-form .forms .send-btn .btn:hover {
  opacity: 0.8;
}

.contact .wrapper .contact-form .forms .send-btn .btn:active {
  -webkit-transform: translate(0, 2px);
  transform: translate(0, 2px);
  border-bottom: none;
}

.contact .top-page {
  padding: 80px 0;
}

.contact .top-page .wrapper {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.contact .top-page .wrapper .go-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  color: #000;
}

.contact .top-page .wrapper .go-top:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #FF773E;
}

.contact .top-page .wrapper .go-top .fa-angle-double-up {
  margin-right: 5px;
}

footer {
  background-color: #111;
  width: 100%;
  height: 80px;
}

footer .footer-box {
  text-align: center;
}

footer .footer-box .footer-text {
  color: #fff;
  padding-top: 35px;
}
/*# sourceMappingURL=portfolio.css.map */